* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color:#45CCAC;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    
}
.content h1 {
    color: white;
    text-transform: capitalize;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
.pokemons {
    display: flex;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}

.content .pokemons .pokemon .detail .pokemon__detail{
    background-color: rgb(255, 255, 255);
    border-radius: 1.9rem;
    width: 100vw;
    height: 100vh;
    padding-left: 2rem;
    color: rgb(0, 0, 0);
    

}
.content .pokemons .pokemon .detail .pokemon__detail h1{
    color: black;
}
.pokemons {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: capitalize;
}

.content .pokemons .pokemon .number {
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    
}

.content .pokemons h1 {
    text-transform: capitalize;
    margin-bottom: .25rem;
}

.content .pokemons .pokemon .detail {
    display: flex;
    margin-top: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}
.pokemonStats strong, .pokemonAbilities strong  {
    color: gray;
  }

.pokemons .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    
    
}
.poison {
    background-color: #a040a0;
   
}


.content .pokemons .types .type {
  
    padding: .3rem 1.3rem;
    margin: .25rem 0rem 0rem .7rem;
    font-size: .9rem;
    border-radius: 1rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
    filter: brightness(120%);
 
}

.pokemons .detail img {
    z-index: 1;
    width: 210px;
    height: 230px;
    
}
.grass {
    background-color: #45CCAC;
     
}
 /*@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}*/